<div class='native-login-form'>
    <%= form_tag('/session', method: :put) do %>
        <%= label_tag :username %>
        <%= text_field_tag :username %>

        <%= label_tag :password %>
        <%= text_field_tag :password %>

        <%= submit_tag "Login" %>
        
    <% end %>
</div>

<div class='oauth-login-form'>

</div>

<button class='new-user-button'>Create New Account</button>
